.footer__logo, .header__logo {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 0.78px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  margin-bottom: 60px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    margin-bottom: 94px;
  }
  .container {
    width: 1200px;
  }
}
input[type=checkbox],
label {
  display: none;
}

@media screen and (max-width: 768px) {
  label {
    display: block;
    height: 30px;
    position: relative;
    top: 15px;
  }
  label span,
  label span::before,
  label span::after {
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background: #333;
    position: absolute;
    right: 0;
    transition: 0.3s;
    z-index: 5;
  }
  label span::before {
    top: -8px;
  }
  label span::after {
    top: 8px;
  }
  .header__nav-list {
    display: none;
  }
  input[type=checkbox]:checked ~ .header__nav-list {
    display: flex;
    flex-direction: column;
  }
  .header__nav-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 48px 40px;
    background: #fff;
    box-shadow: 0 12px 8px #ececec;
  }
  .header__nav li {
    margin: 15px 0;
  }
  input[type=checkbox]:checked ~ label span {
    transform: rotate(-45deg);
  }
  input[type=checkbox]:checked ~ label span::before {
    top: 0;
    transform: rotate(0);
  }
  input[type=checkbox]:checked ~ label span::after {
    top: 0;
    transform: rotate(90deg);
  }
}
.header {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  font-size: 24px;
}
.header__logo > span {
  color: #000000;
}
.header__contact-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 20px 0px;
  }
  .header__logo {
    margin-right: 88px;
  }
  .header__nav-list {
    display: flex;
    gap: 50px;
    margin-right: 96px;
  }
  .header__nav-link {
    position: relative;
    padding-bottom: 32px;
    color: #212121;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__nav-link:hover, .header__nav-link:focus {
    color: #2196f3;
  }
  .header .current::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    background-color: #2196f3;
    border-radius: 2px;
  }
  .header__contact-list {
    display: flex;
    flex-direction: column;
  }
  .header__contact-item {
    display: flex;
    align-items: center;
  }
  .header__email {
    margin-bottom: 10px;
  }
  .header__contact-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    gap: 10px;
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    margin-left: 10px;
  }
  .header__contact-link:hover, .header__contact-link:focus {
    color: #2196f3;
  }
  .header__contact-item-svg {
    fill: currentColor;
  }
}
.footer {
  background: #2f303a;
  flex-shrink: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  /* JOIN FOOTER */
  /* SEND-FOOTER */
}
.footer__elements-first {
  display: flex;
  flex-direction: column;
}
.footer__contacts {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 171.429%;
  letter-spacing: 0.42px;
}
.footer__logo {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}
.footer__logo > span {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.footer__contacts__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 171.429%;
  letter-spacing: 0.42px;
  margin-top: 4px;
}
.footer__contacts__link:hover, .footer__contacts__link:focus {
  color: #fff;
}
.footer__elements-second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}
.footer .join__text {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer .join__list {
  display: flex;
  gap: 10px;
}
.footer .join__item {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  height: 44px;
  width: 44px;
  padding: 12px 12px;
}
.footer .join__item:hover {
  background-color: #2196f3;
}
.footer .join__item-link-svg {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}
.footer__send-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.footer__label {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.footer__send-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.footer__input {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 450px;
  height: 50px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.48px;
  margin-bottom: 20px;
}
.footer__send {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__svg {
  width: 24px;
  height: 24px;
  fill: #fff;
}
.footer__send-text {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 187.5%;
  letter-spacing: 0.96 .footer__send-text;
}

/* JOIN FOOTER */
/* SEND-FOOTER */
.hero {
  text-align: center;
  height: 400px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/heroes.jpg");
  background-size: cover;
  background-position: center;
}
.hero__title {
  color: #ffffff;
  font-size: 26px;
  font-weight: 900;
  line-height: 161.538%;
  letter-spacing: 1.56px;
  text-transform: uppercase;
  padding-top: 118px;
  margin-bottom: 30px;
}
.hero__btn {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  line-height: 187.5%;
  letter-spacing: 0.96px;
}
.hero__btn:hover, .hero__btn:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, visibility 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #fff;
}

.close__icon {
  width: 18px;
  height: 18px;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close__icon:hover,
.close__icon:focus {
  fill: #2196f3;
}

.modal__title {
  color: #212121;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

.modal__label {
  margin-bottom: 4px;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}

.modal__thumb {
  position: relative;
}

.modal__input:hover,
.modal__input:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.modal__input:focus + .modal__thumb-svg {
  fill: #2196f3;
}

.modal__input {
  margin-bottom: 10px;
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__thumb-svg {
  width: 18px;
  height: 18px;
  fill: #212121;
  left: 12px;
  top: 50%;
  transform: translateY(-80%);
  position: absolute;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__div-confrim {
  color: rgba(117, 117, 117, 0.5);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  text-align: center;
  padding-bottom: 30px;
}

.modal__label-confirm {
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 171.429%;
  letter-spacing: 0.42px;
}

.modal__comment-terms {
  color: #2196f3;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.modal__btn-send {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 187.5%;
  letter-spacing: 0.96px;
  display: block;
  margin: 0 auto;
}

/* comment */
.modal__label-comment {
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  display: flex;
  margin-bottom: 4px;
}

.form__input-comment {
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-bottom: 4px;
  color: rgba(33, 33, 33, 0.2);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  padding-left: 16px;
  padding-top: 10px;
  resize: none;
}

.form__input-comment:hover,
.form__input-comment:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.advantages__list-item::before {
  content: "";
  display: block;
  border-radius: 4px;
  background-color: #f5f4fa;
  width: 450px;
  height: 120px;
  margin-bottom: 30px;
}
.advantages__list-item:nth-child(1)::before {
  content: "";
  background-image: url("../images/BG/antenna.png");
  background-repeat: no-repeat;
  background-position: center;
}
.advantages__list-item:nth-child(2)::before {
  content: "";
  background-image: url("../images/BG/clock.png");
  background-repeat: no-repeat;
  background-position: center;
}
.advantages__list-item:nth-child(3)::before {
  content: "";
  background-image: url("../images/BG/diagram.png");
  background-repeat: no-repeat;
  background-position: center;
}
.advantages__list-item:nth-child(4)::before {
  content: "";
  background-image: url("../images/BG/astronaut.png");
  background-repeat: no-repeat;
  background-position: center;
}
.advantages__list__subtitle {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}
.advantages__list__text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 171.429%;
  letter-spacing: 0.42px;
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .advantages {
    height: 600px;
  }
  .advantages__list-item {
    width: 354px;
    display: flex;
    flex-wrap: wrap;
  }
  .advantages__list-item::before {
    display: block;
  }
}
.works__section {
  display: none;
}

.team__section {
  background: #f5f4fa;
  padding-bottom: 60px;
  padding-top: 60px;
}
.team__section__list-item {
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  width: 450px;
  margin-bottom: 30px;
}
.team__section__item__img {
  width: 450px;
}
.team__section__title {
  color: #212121;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.84px;
  margin-bottom: 30px;
}
.team__section__item__subtitle {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
  margin-top: 30px;
}
.team__section__item__text {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
  margin-bottom: 16px;
}
.team__section__item__list-svg {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 36px;
}
.team__section__item__list-item {
  height: 44px;
  width: 44px;
  padding: 12px 12px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__section__item__list-item:hover {
  background-color: #2196f3;
  border-radius: 50%;
}
.team__section__item__list-item > a > svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__section__item__list-item:hover > a > svg {
  fill: #ffffff;
}
.team__section__link-svg {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
}

.clients {
  padding: 60px 0px;
}
.clients__title {
  text-align: center;
  color: #212121;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.84px;
  margin-bottom: 30px;
}
.clients__item {
  border-radius: 4px;
  border: 1px solid #afb1b8;
  padding: 16px 32px;
  width: 210px;
}
.clients__item:hover, .clients__item:focus {
  border: 1px solid #2196f3;
}
.clients__item:hover .clients__link-svg, .clients__item:focus .clients__link-svg {
  fill: #2196f3;
}
.clients__link-svg {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__section {
  padding-top: 94px;
  border: 1px solid #eee;
  height: 1552px;
  gap: 30px;
}
.portfolio__section__btn-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.portfolio__section__btn {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  line-height: 162.5%;
  letter-spacing: 0.48px;
  background: #f5f4fa;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__section__btn:hover, .portfolio__section__btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.portfolio__project-subtitle {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: 1.08px;
  justify-content: space-around;
  margin-top: 20px;
  margin-left: 24px;
}

.portfolio__project-text {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 187.5%;
  letter-spacing: 0.48px;
  padding-left: 24px;
  padding-bottom: 20px;
}

.portfolio__section__project-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio__project-img-div {
  position: relative;
  overflow: hidden;
}

.portfolio__project-img-div:hover .overlay {
  transform: translateX(0%);
}

.overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
}

.portfolio__overlay-text {
  display: flex;
  margin-left: 24px;
  margin-top: 63px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 155.556%;
  letter-spacing: 0.54px;
}

.portfolio__project-item {
  margin-left: 30px;
  margin-top: 30px;
  border: 1px solid #eee;
  flex-basis: calc((100% - 90px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__project-item:nth-child(7) {
  margin-bottom: 94px;
}

.portfolio__project-item:nth-child(8) {
  margin-bottom: 94px;
}

.portfolio__project-item:nth-child(9) {
  margin-bottom: 94px;
}

.portfolio__project-item:hover,
.portfolio__project-item:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}/*# sourceMappingURL=main.css.map */