:root {
    --logo-color: #000000;
    --link-color: #2196F3;
    --logo-footer-color: #FFFFFF;
    --title-color: #212121;
    --main-text-color: #757575;
    --footer-addres-color: rgba(255, 255, 255, 0.60);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    margin-bottom: 94px;
}


body {
    font-family: "Roboto", sans-serif;
}

/* header */

header .container {
    display: flex;
    align-items: center;
    padding:25px 0;
}

.header__logo {
    color: var(--link-color);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    margin-right: 93px;
}

.header__logo > span {
    color: var(--logo-color);
}

.header__contact-link {
    color: var(--main-text-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
}
    
.header__nav-link:hover,
.header__nav-link:focus {
    color: var(--link-color)
}
    
.header__contact-link:hover,
.header__contact-link:focus {
    color: var(--link-color)
}    


.header__nav {
    color: var(--title-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
}

.header__contact-list {
    display: flex;
    gap: 50px;
}

.header__nav-list {
    display: flex;
gap: 50px;
margin-right: 344px;
}

/* main */
/* hero */
.hero {
    background: #2F303A;
    height: 600px;

    color: var(--logo-footer-color);
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 136.364%;
    letter-spacing: 2.64px;
    text-transform: uppercase
}

.hero__title{
    padding-top: 200px;
    margin-bottom: 30px;
}

.hero__btn {
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 216px;
    height: 50px;
    cursor: pointer;

    color: var(--logo-footer-color);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 187.5%;
    letter-spacing: 0.96px;

}

/* advantages */
.advantages__list{
    display: flex;
    justify-content: space-between;
}
.advantages__list__subtitle {
    color: var(--title-color);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.advantages__list__text {
    color: var(--main-text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 171.429%;
    letter-spacing: 0.42px;
}

/* works */
.works__section__title {
    color: var(--title-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}
.works__section_list{
    display: flex;
    gap: 30px;
}

/* team */
.team__section {
    background: #F5F4FA;
    height: 648px;
}  

.team__section__list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.team__list-item{
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
}

.team__section__title {
    color: var(--title-color);

    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
    padding-top: 94px;
}

.team__item__subtitle {
    color:var(--title-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.team__item__text {
    color: var(--main-text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
    }




/* footer */
.footer {
    background: #2F303A;
    height: 252px;
    flex-shrink: 0;
    padding-top: 60px;
    padding-bottom: 20px;
}
.footer__contacts {
    display: flex;
    flex-direction: column;
    margin: 20px;
}


.footer__contacts {
    color: var(--footer-addres-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 171.429%;
    letter-spacing: 0.42px;
}


.footer__logo {
    color: var(--link-color);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
}

.footer__logo > span {
    color: var(--logo-footer-color);
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    }

    /* portfolio main */
.portfolio__section{
    padding-top: 94px;
    border: 1px solid #EEE;
}
.portfolio__section__btn-list{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.portfolio__btn {
    color: var(--title-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height:162.5%;
    letter-spacing: 0.48px;

    border-radius: 4px;
    background: #F5F4FA;
    padding: 6px 22px;
    cursor: pointer;
}

.portfolio__btn:hover,
.portfolio__btn:focus {
    background: #2196F3;
}


.portfolio__project-subtitle {
    color: var(--title-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 200%;
    letter-spacing: 1.08px;
    justify-content: space-around;
    margin-top: 20px;
    margin-left: 24px;
}

.portfolio__project-text {
    color: var(--main-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height:187.5%;
    letter-spacing: 0.48px;
    margin-top: 20px;
    margin-left: 24px;
    margin-bottom: 20px;
}
.portfolio__section__project-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.portfolio__project-item {
    margin-left: 30px;
    margin-top: 30px;
    border: 1px solid #EEE; 
    flex-basis: calc((100% - 3 * 30px) / 3);
}