:root {
    --logo-color: #000000;
    --link-color: #2196F3;
    --logo-footer-color: #FFFFFF;
    --title-color: #212121;
    --main-text-color: #757575;
    --footer-addres-color: rgba(255, 255, 255, 0.60);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    margin-bottom: 94px;
}


body {
    font-family: "Roboto", sans-serif;
}

/* header */

header .container {
    display: flex;
    align-items: center;
    padding:25px 0;
}

.header__logo {
    color: var(--link-color);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    margin-right: 93px;
}

.header__logo > span {
    color: var(--logo-color);
}

.header__contact-link {
    color: var(--main-text-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    margin-left: 10px;
}
    
.header__nav-link:hover,
.header__nav-link:focus {
    color: var(--link-color)
}
    
.header__contact-link:hover,
.header__contact-link:focus {
    color: var(--link-color)
}   

.header__contact-item-svg {
    width: 16px;
    height: 12px;
    fill: #757575
}

.header__contact-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__contact-item-svg:hover,
.header__contact-item-svg:focus {
    fill: var(--link-color);
}

.header__nav {
    color: var(--title-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
}

.header__contact-list {
    display: flex;
    gap: 50px;
}

.header__nav-list {
    display: flex;
    gap: 50px;
    margin-right: 344px;
}

/* main */
/* hero */
.hero {
    height: 600px;

    color: var(--logo-footer-color);
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 136.364%;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero/heroes.jpg');
    background-size: cover;
}

.hero__title{
    padding-top: 200px;
    margin-bottom: 30px;
}

.hero__btn {
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 216px;
    height: 50px;
    cursor: pointer;

    color: var(--logo-footer-color);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 187.5%;
    letter-spacing: 0.96px;

}

.hero__btn:hover, 
.hero__btn:focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* advantages */
.advantages__list-item::before {
    content: '';
    display: block;
    border-radius: 4px;
    background-color: #F5F4FA;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
}

.advantages__list-item:nth-child(1)::before {
    content: '';
    background-image: url('../images/BG/antenna.png');
    background-repeat: no-repeat;
    background-position: center;
}

.advantages__list-item:nth-child(2)::before {
    content: '';
    background-image: url('../images/BG/clock.png');
    background-repeat: no-repeat;
    background-position: center;
}

.advantages__list-item:nth-child(3)::before {
    content: '';
    background-image: url('../images/BG/diagram.png');
    background-repeat: no-repeat;
    background-position: center;
}

.advantages__list-item:nth-child(4)::before {
    content: '';
    background-image: url('../images/BG/astronaut.png');
    background-repeat: no-repeat;
    background-position: center;
}

.advantages__list{
    display: flex;
    gap: 30px;
}
.advantages__list__subtitle {
    color: var(--title-color);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.advantages__list__text {
    color: var(--main-text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 171.429%;
    letter-spacing: 0.42px;
}

/* works */
.works__section__title {
    color: var(--title-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}
.works__section_list{
    display: flex;
    gap: 30px;
}

/* team */
.team__section {
    background: #F5F4FA;
    height: 648px;
}

.team__section__list {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.team__list-item{
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team__section__title {
    color: var(--title-color);

    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
    padding-top: 94px;
}

.team__item__subtitle {
    color:var(--title-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.team__item__text {
    color: var(--main-text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
    padding-bottom: 30px;
    }


.team__item__list-svg {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 42px;
}

.team__item__list-item {
    height: 44px;
    width: 44px;
    padding: 12px 12px;
}

.team__item__list-item:hover {
    background-color: var(--link-color);
    border-radius: 50%;
}

.team__item__list-item:hover > a > svg {
    fill: #FFFFFF;
}

.team__link-svg {
    fill: #AFB1B8;
    width: 20px;
    height: 20px;
}


/* CLIENTS */

.clients {
}
.clients__title {
    display: flex;
    justify-content: center;
    margin-top: 94px;
}
.clients__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 66px;
    margin-bottom: 110px;
}
.clients__item {
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    margin-right: 62px;
}
.clients__item__list-link {
}
.clients__link-svg {
    width: 106px;
    height: 60px;
}

/* footer */
.footer {
    background: #2F303A;
    height: 252px;
    flex-shrink: 0;
    padding-top: 60px;
    padding-bottom: 20px;
}
.footer__contacts {
    display: flex;
    flex-direction: column;
    margin: 20px;
}


.footer__contacts {
    color: var(--footer-addres-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 171.429%;
    letter-spacing: 0.42px;
}


.footer__logo {
    color: var(--link-color);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
}

.footer__logo > span {
    color: var(--logo-footer-color);
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    }

.footer__contacts__link:hover,
.footer__contacts__link:focus {
    color: #FFF;
}
    /* portfolio main */
.portfolio__section{
    padding-top: 94px;
    border: 1px solid #EEE;
}
.portfolio__section__btn-list{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.portfolio__btn {
    color: var(--title-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height:162.5%;
    letter-spacing: 0.48px;

    border-radius: 4px;
    background: #F5F4FA;
    padding: 6px 22px;
    cursor: pointer;
}

.portfolio__btn:hover,
.portfolio__btn:focus {
    background: #2196F3;
    color: var(--logo-footer-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}


.portfolio__project-subtitle {
    color: var(--title-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 200%;
    letter-spacing: 1.08px;
    justify-content: space-around;
    margin-top: 20px;
    margin-left: 24px;
}

.portfolio__project-text {
    color: var(--main-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height:187.5%;
    letter-spacing: 0.48px;
    padding-left: 24px;
    padding-bottom: 20px;
}
.portfolio__section__project-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.portfolio__project-item {
    margin-left: 30px;
    margin-top: 30px;
    border: 1px solid #EEE; 
    flex-basis: calc((100% - 3 * 30px) / 3);
}
.portfolio__project-item:nth-child(7) {
    margin-bottom: 94px;
}
.portfolio__project-item:nth-child(8) {
    margin-bottom: 94px;
}
.portfolio__project-item:nth-child(9) {
    margin-bottom: 94px;
}

.portfolio__project-item:hover,
.portfolio__project-item:focus {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}