%logo {
    color: $link-color;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    letter-spacing: 0.78px;
}

%text {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
}