:root {
    --logo-color: #000000;
    --logo-color1: #2196F3;
    --logo-footer-color: #FFFFFF;
    --title-color: #212121;
    --main-text-color: #757575;
    --footer-addres-color: rgba(255, 255, 255, 0.60);
}

body {
    font-family: Roboto;
    cursor: default;
}

/* header */
.header__logo {
    color: var(--logo-color1);
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.header__logo > span {
    color: var(--logo-color);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.header__list {
    color: var(--main-text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}
    
.header__nav__item:hover,
.header__nav__item:focus {
    color: var(--logo-color1)
}
    
.header__list__item:hover,
.header__list__item:focus {
    color: var(--logo-color1)
}    

ul {
    margin: 0;
    padding:0;
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

.header__nav {
    color: var(--title-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

/* main */
.main__section__title {
    background: #2F303A;
    width: 1600px;
    height: 600px;
    flex-shrink: 0;

    color: var(--logo-footer-color);
    text-align: center;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px; /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase
}

.main__section__item {
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 216px;
    height: 50px;
    flex-shrink: 0;
    cursor: pointer;

    color: var(--logo-footer-color);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 187.5% */
letter-spacing: 0.96px;
}

.main__list__title {
    color: var(--title-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.main__list__text {
    color: var(--main-text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
}

.main__section__caption {
    color: var(--title-color);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

.main__list__subtitle {
    color:var(--title-color);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
}

.main__list-item {
    color: var(--main-text-color);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    }

.main__section {
    background: #F5F4FA;
}    

/* footer */
footer {
    background: #2F303A;
    height: 252px;
    flex-shrink: 0;
}

.footer__address {
    color: var(--footer-addres-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
}

.footer__address__item {
    color:var(--logo-footer-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
}

.footer__logo {
    color: var(--logo-color1);
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.footer__logo > span {
    color: var(--logo-footer-color);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    }