.advantages {
  &__list-item::before {
    content: "";
    display: block;
    border-radius: 4px;
    background-color: #f5f4fa;
    height: 120px;
  }
  &__list-item {
    width: 450px;
    margin-bottom: 30px;
  }

  &__list-item:nth-child(1)::before {
    @include advantages(url("../images/BG/antenna.png"))
  }
  
  &__list-item:nth-child(2)::before {
    @include advantages(url("../images/BG/clock.png"))
    
  }
  
  &__list-item:nth-child(3)::before {
    @include advantages(url("../images/BG/diagram.png"))
  }
  
  &__list-item:nth-child(4)::before {
    @include advantages(url("../images/BG/astronaut.png"))
  }
  
  &__list__subtitle {
    color: $title-color;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
  }
  
  &__list__text {
    color: $main-text-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 171.429%;
    letter-spacing: 0.42px;
    padding-bottom: 30px;
  }

}

@media screen and (min-width: 768px) {
  .advantages {
    &__list-item {
      width: 354px;
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      
    }
    &__list-item::before {
      display: block;
    }
  
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
  &__list-item::before {
    content: "";
    display: block;
    border-radius: 4px;
    background-color: #f5f4fa;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
  }
  
  &__list-item:nth-child(1)::before {

    @include advantages(url("../images/BG/antenna.png"))
  }
  
  &__list-item:nth-child(2)::before {

    @include advantages(url("../images/BG/diagram.png"))
  }
  
  &__list-item:nth-child(3)::before {

    @include advantages(url("../images/BG/clock.png"))
  }
  
  &__list-item:nth-child(4)::before {

    @include advantages(url("../images/BG/astronaut.png"))
  }
  
  &__list {
    display: flex;
    gap: 30px;
  }
  &__list__subtitle {
    color: $title-color;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }
  
  &__list__text {
    color: $main-text-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 171.429%;
    letter-spacing: 0.42px;
  }

}
}

// .advantages {
//   &__list-item::before {
//     content: "";
//     display: block;
//     border-radius: 4px;
//     background-color: #f5f4fa;
//     width: 270px;
//     height: 120px;
//     margin-bottom: 30px;
//   }
  
//   &__list-item:nth-child(1)::before {

//     @include advantages(url("../images/BG/antenna.png"))
//   }
  
//   &__list-item:nth-child(2)::before {

//     @include advantages(url("../images/BG/diagram.png"))
//   }
  
//   &__list-item:nth-child(3)::before {

//     @include advantages(url("../images/BG/clock.png"))
//   }
  
//   &__list-item:nth-child(4)::before {

//     @include advantages(url("../images/BG/astronaut.png"))
//   }
  
//   &__list {
//     display: flex;
//     gap: 30px;
//   }
//   &__list__subtitle {
//     color: $title-color;
//     font-size: 14px;
//     font-weight: 700;
//     letter-spacing: 0.42px;
//     text-transform: uppercase;
//   }
  
//   &__list__text {
//     color: $main-text-color;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 171.429%;
//     letter-spacing: 0.42px;
//   }

// }

