.hero {
    text-align: center;
    height: 400px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero/heroes.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__title {
        color: $logo-footer-color;
        font-size: 26px;
        font-weight: 900;
        line-height: 161%;
        letter-spacing: 1.56px;
        text-transform: uppercase;
        padding-top: 118px;
        margin-bottom: 30px;
    }
    
    &__btn {
        @include btn($logo-footer-color, 700);
        background: $link-color;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        width: 200px;
        height: 50px;
        font-family: "Roboto", sans-serif;
        line-height: 187%;
        letter-spacing: 0.96px;
        color: #fff;
        transition: box-shadow $animation;
        &:hover,
        &:focus {
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        }
    }
}

@media screen and (min-width: 1200px) {
    .hero {
    height: 600px;

    &__title {
        font-size: 44px;
        line-height: 136%;
        letter-spacing: 2.64px;
        padding-top: 200px;
    }
    
    &__btn {
        width:216px;
    }
}
}

