.hero {
    height: 600px;

    color: $logo-footer-color;
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 136.364%;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero/heroes.jpg");
    background-size: cover;
}

.hero__title {
    padding-top: 200px;
    margin-bottom: 30px;
}

.hero__btn {
    border-radius: 4px;
    background: $link-color;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 216px;
    height: 50px;
    cursor: pointer;

    color: $logo-footer-color;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 187.5%;
    letter-spacing: 0.96px;
}

.hero__btn {
    transition: box-shadow $animation;
}

.hero__btn:hover,
.hero__btn:focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}