


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity $animation 250ms, visibility $animation 250ms;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    }

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 528px;
    min-height: 581px;
    padding: 40px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%) scale(1);
    transition: transform $animation;
}

.close__btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #fff;
}

.close__icon {
    width: 18px;
    height: 18px;
    fill: #000000;
    transition: fill $animation;
}

.close__icon:hover,
.close__icon:focus {
    fill: $link-color;
}

.modal__title {
    color: #212121;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.6px;
    margin-bottom: 12px;
}
.modal__label {
    margin-bottom: 4px;
    color: #757575;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
}
.modal__thumb {
    position: relative;
}

.modal__input:hover,
.modal__input:focus {
    border: 1px solid $link-color;
    outline: none;
}

.modal__input:focus + .modal__thumb-svg {
    fill: $link-color;
}

.modal__input {
    margin-bottom: 10px;
    width: 448px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 42px;
    transition: border $animation;
}
.modal__thumb-svg {
    width: 18px;
    height: 18px;
    fill: #212121;
    left: 12px;
    top: 50%;
    transform: translateY(-80%);
    position: absolute;
    transition: fill $animation;
}

.modal__div-confrim {
    color: rgba(117, 117, 117, 0.5);
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
    text-align: center;
    padding-bottom: 30px;
}

.modal__label-confirm {
    color: #757575;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 171.429%;
    letter-spacing: 0.42px;
}
.modal__comment-terms {
    color: $link-color;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}
.modal__btn-send {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background: $link-color;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    color: #fff;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 187.5%;
    letter-spacing: 0.96px;

    display: block;
    margin: 0 auto;
}

  /* comment */

.modal__label-comment {
    color: #757575;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
    display: flex;
    margin-bottom: 4px;
}
.form__input-comment {
    width: 448px;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    margin-bottom: 4px;
    color: rgba(33, 33, 33, 0.2);
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
    padding-left: 16px;
    padding-top: 10px;
    resize: none;
}

.form__input-comment:hover,
.form__input-comment:focus {
    border: 1px solid $link-color;
    outline: none;
}