.team__section {
    background: #f5f4fa;
    padding-bottom: 94px;
  }
  
  .team__section__list {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
  }
  
  .team__list-item {
    border-radius: 0px 0px 4px 4px;
    background: #fff;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }
  
  .team__section__title {
    color: var(--title-color);
  
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
    padding-top: 94px;
  }
  
  .team__item__subtitle {
    color: var(--title-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    margin-bottom: 10px;
    margin-top: 30px;
  }
  
  .team__item__text {
    color: var(--main-text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
    margin-bottom: 16px;
  }
  
  .team__item__list-svg {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
  }
  
  .team__item__list-item {
    height: 44px;
    width: 44px;
    padding: 12px 12px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .team__item__list-item:hover {
    background-color: var(--link-color);
    border-radius: 50%;
  }
  
  .team__item__list-item > a > svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .team__item__list-item:hover > a > svg {
    fill: #ffffff;
  }
  
  .team__link-svg {
    fill: #afb1b8;
    width: 20px;
    height: 20px;
  }