.header {
    padding-top: 10px;
    padding-bottom: 10px;

    & .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        @extend %logo;
        font-size: 24px;
    }

    &__logo > span {
        color: $logo-color;
    }

    &__contact-list {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .header {
        padding-top: 10px;
        padding-bottom: 10px;

        &__logo {
            @extend %logo;
            margin-right: 93px;
        }
    
        &__logo > span {
            color: $logo-color;
        }
    
        &__nav-list {
            display: flex;
            gap: 30px;
            margin-right: 318px;
        }
    
        &__nav-link {
            position: relative;
            padding-bottom: 32px;
            color: $title-color;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.28px;
            // @extend %text;
            transition: color $animation;
            &:hover,
            &:focus {
                color: $link-color;
            }
        }
    
        .current::after {
            position: absolute;
            left: 0;
            bottom: 0;
            content: "";
            display: block;
            height: 4px;
            width: 100%;
            background-color: $link-color;
            border-radius: 2px;
        }
    
        &__contact-list {
            display: flex;
            gap: 30px;
        }
    
        &__contact-item {
            display: flex;
            align-items: center;
        }
    
        &__contact-link {
            transition: color $animation;
            display: flex;
            align-items: center;
            gap: 10px;
            color: $main-text-color;
            // @extend %text;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.28px;
            margin-left: 10px;
    
            &:hover,
            &:focus {
                color: $link-color;
            }
        }
    
        &__contact-item-svg {
            fill: currentColor;
        }
    }
}


// .header {
//     padding-top: 10px;
//     padding-bottom: 10px;

//     &__logo {
//         @extend %logo;
//         margin-right: 93px;
//     }

//     &__logo > span {
//         color: $logo-color;
//     }

//     &__nav-list {
//         display: flex;
//         gap: 30px;
//         margin-right: 318px;
//     }

//     &__nav-link {
//         position: relative;
//         padding-bottom: 32px;
//         color: $title-color;
//         @extend %text;
//         transition: color $animation;
//         &:hover,
//         &:focus {
//             color: $link-color;
//         }
//     }

//     .current::after {
//         position: absolute;
//         left: 0;
//         bottom: 0;
//         content: "";
//         display: block;
//         height: 4px;
//         width: 100%;
//         background-color: $link-color;
//         border-radius: 2px;
//     }

//     &__contact-list {
//         display: flex;
//         gap: 30px;
//     }

//     &__contact-item {
//         display: flex;
//         align-items: center;
//     }

//     &__contact-link {
//         transition: color $animation;
//         display: flex;
//         align-items: center;
//         gap: 10px;
//         color: $main-text-color;
//         @extend %text;
//         margin-left: 10px;

//         &:hover,
//         &:focus {
//             color: $link-color;
//         }
//     }

//     &__contact-item-svg {
//         fill: currentColor;
//     }

// }
