.burger__input[type="checkbox"],
.burger__label {
display: none;
}

@media screen and (max-width: 768px) {
    .burger__label {
    display: block;
    height: 30px;
    position: relative;
    top: 15px;
    }
    
    .burger__label span,
    .burger__label span::before,
    .burger__label span::after {
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background: #333;
    position: absolute;
    right: 0;
    transition: 0.3s;
    z-index: 5;
    }
    
    .burger__label span::before {
    top: -8px;
    }
    
    .burger__label span::after {
    top: 8px;
    }
    
    .header__nav-list {
        display: none;
    }
    
    input[type="checkbox"]:checked ~ .header__nav-list {
        display: flex;
        flex-direction: column;
    }
    
    .header__nav-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 48px 40px;
    background: #fff;
    box-shadow: 0 12px 8px #ececec;
    }
    
    .header__nav li {
    margin: 15px 0;
    }
    
    .burger__input[type="checkbox"]:checked ~ .burger__label span {
    transform: rotate(-45deg);
    }
    .burger__input[type="checkbox"]:checked ~ .burger__label span::before {
    top: 0;
    transform: rotate(0);
    }
    .burger__input[type="checkbox"]:checked ~ .burger__label span::after {
    top: 0;
    transform: rotate(90deg);
    }

    .mobile__menu {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        padding: 48px 40px;
        background: #fff;
        transform: translateX(100%);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
    }

    .mobile__nav {
    }
    .mobile__nav-list {
    }
    .mobile__nav-item:not(:last-child) {
        margin-bottom: 32px;
    }
    .mobile__nav-link {
        color: #212121;
        font-size: 40px;
        font-weight: 500;
        letter-spacing: 0.8px;
    }
    .current {
    }
    .mobile__contact-list {
        margin-bottom: 64px;
    }
    .mobile__nav-item:not(:last-child) {
        margin-bottom: 32px;
    }
    .mobile__contact__tel-link{
        color: #2196F3;
        font-family: Roboto;
        font-size: 34px;
        font-weight: 500;
        letter-spacing: 0.68px;
    }
    .mobile__contact__email-link{
        color: #757575;
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 0.48px;
    }
    .mobile__contact-item-svg {
    }
    .mobile__email {
    }
    .mobile__social-list {
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .social__item-item:not(:last-child) {
        border-right: 1px solid rgba(33, 33, 33, 0.20);
        padding-right: 10px;
    }
    .mobile__social-link {
        color: #2196F3;
        font-size: 18px;
        font-weight: 500;
        line-height: 122.222%;
        letter-spacing: 0.36px;
    }
}