.section {
    margin-bottom: 60px;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 480px;
}


body {
    font-family: $mainFontFamily;
}


@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .section {
        margin-bottom: 94px;
    }
    
    .container {
        margin: 0 auto;
        padding: 0 15px;
        width: 1200px;
    }
    
    
    body {
        font-family: $mainFontFamily;
    }
}

