.section {
    margin-bottom: 94px;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
}


body {
    font-family: $mainFontFamily;
}


// MOBILE (480+)
@media screen and (min-width: 480px) {
    .container {
        width: 480px;
    }
}

// TABLET (768+)
@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

// DEKSTOP (1200+)
@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}